<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${question.title}"></title>
    <script src="/static/js/jquery-1.11.3.min.js" type="text/javascript"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/question.css"/>
    <script src="/static/js/question.js" type="text/javascript"></script>
</head>
<body>
<nav th:insert="~{nav.html :: navigation}"></nav>
<main>
    <div class="container-fluid main">
        <div class="row">
            <div class="col-lg-9 col-lg-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-lg-12 col-sm-12 col-xs-12">
                    <h4><span th:text="${question.title}"></span></h4>
                    <span class="text-desc">
                    作者：<span th:text="${question.user.name}"></span>|
                    发布时间：<span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                    |阅读数：<span th:text="${question.viewCount}"></span>
                </span>
                    <hr>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:text="${question.description}"></div>
                    <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a th:href="@{'/publish/'+${question.id}}" th:if="${session.user!=null&&session.user.id==question.creator}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true">编辑</span>
                    </a>
                </div>
                <hr class="col-lg-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-lg-12 col-sm-12 col-xs-12" id="comment_section">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-rounded" id="rounded" th:src="${question.user.avatarUrl}">
                            </a>
                        </div>
                        <div class="media-body" id="user">
                            <h5 class="media-heading">
                                <span th:text="${question.user.name}"></span>
                            </h5>
                        </div>
                    </div>
                    <input type="hidden" id="question_id" th:value="${question.id}">
                    <textarea class="form-control comment" rows="6" id="comment_content"></textarea>
                    <button type="button" id="btn_1" class="btn btn-success comment-btn" onclick="post()">回复</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h4>发起人</h4>
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-circle" th:src="${question.user.avatarUrl}">
                            </a>
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading">
                                <span th:text="${question.user.name}"></span>
                            </h5>
                        </div>
                    </div>
                </div>
                <hr class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h4>相关问题</h4>
                </div>
            </div>

        </div>
    </div>
</main>
</body>
</html>